# GENERAL
# Choose between DEV or PROD (.env.dev = DEV; .env.prod = PROD)
ENV=DEV
VERSION=1

# API
API_VERSION=1
API_HTTPS=false
# Enable www. subdomain
API_WWW=false
# Only the domain name (do not add protocol!)
API_HOST=localhost
# Optional
API_PORT=4000
# Optional (do not add slashes to the front or back)
API_PATH=api

# WEBSOCKET
# Optional (do not add slashes to the front or back)
WEBSOCKET_PATH=ws
# WebSocket timeout until reconnect attempt (in seconds)
WEBSOCKET_RECONNECT_TIME=5

# AUTHORIZATION
DEVICE_TOKEN=